:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
    width: 7rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: auto;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .home {
    display: inline-flex;
    .title {
      margin-top: 5rem;
      margin-left: 5rem;
        header {
            font-family: Merriweather;
            font-size: 50px;
            font-weight: bold;
            color: #5d81d8;    
        }
        span {
            font-family: Merriweather;
            font-size: 50px;
            color: purple;
        }

        .justina {
          span {
            font-family: Montserrat;
            font-size: 30px;
            color: purple;
          }
        }

        .baixe {
          margin-top: 8rem;
          display: grid;
          span {
            font-family: Montserrat;
            font-size: 25px;
            color: #5d81d8;
          }
          img {
            height: 4rem;
          }
        }
    }
    img {
      height: 45rem;
    }
  }

  .voce-sabia {
    // background-color: transparent;
    // border-radius: 0px 50px 50px 0px;
    // margin-right: 28rem;
    // height: 100%;
      span {
        font-family: Merriweather;
        // font-weight: lighter;
        font-size: 30px;
        color: #5d81d8;  
      }
  }


  .card-petition {
    border-radius: 20px;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    padding: 16px;
    line-height: 24px;
    height: 100%;
    border-color: transparent;

    img {
      width: 25rem;
      height: 10rem;
      object-fit: contain;
    }
    header {
        text-align: center;
        font-family: Montserrat;
        font-weight: bold;
        color: purple;
        font-size: 16px;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
    span {
        text-align: center;
        font-family: Montserrat;
        color: black;
        font-size: 16px;
        padding-right: 2rem;
        padding-left: 2rem;
    }

  }

  .criando-title {
    margin-top: 5rem;
    span {
      font-family: Merriweather;
      font-weight: 300;
      font-size: 30px;
      color: #1976d2;  
    }
  }

  .card-criando {
    justify-content: center;
    align-items: center;
    height: 100%;
    border-color: transparent;

    img {
      width: 14rem;
      height: 10rem;
      object-fit: contain;
    }

    header {
      text-align: center;
      font-family: Montserrat;
      font-weight: bold;
      color: purple;
      font-size: 16px;
    }

    span {
      text-align: center;
      font-family: Montserrat;
      color: black;
      font-size: 16px;
    }
  }

  .card-passos-direita {
    background-color: #fafafa;
    border-radius: 0px 50px 50px 0px;
    margin-right: 48rem;
    height: 100%;
    margin-bottom: 2rem;
    img {
      width: 14rem;
      height: 10rem;
      object-fit: contain;
      margin: auto;
      margin-top: 2rem;
    }

    header {
      text-align: center;
      font-family: Montserrat;
      font-weight: bold;
      color: purple;
      font-size: 8rem;
      margin-left: 4rem;
      margin-top: 3rem;
    }

    span {
      text-align: center;
      font-family: Montserrat;
      color: black;
      font-size: 16px;
      margin-bottom: 3rem;
    }
  }

  .card-passos-esquerda {
    background-color: #fafafa;
    border-radius: 50px 0px 0px 50px;
    margin-left: 48rem;
    height: 100%;
    margin-bottom: 2rem;
    img {
      width: 14rem;
      height: 10rem;
      object-fit: contain;
      margin: auto;
      margin-top: 2rem;
    }

    header {
      text-align: center;
      font-family: Montserrat;
      font-weight: bold;
      color: purple;
      font-size: 8rem;
      margin-left: 4rem;
      margin-top: 3rem;
    }

    span {
      text-align: center;
      font-family: Montserrat;
      color: black;
      font-size: 16px;
      margin-bottom: 4rem;
    }
  }

  footer {
    margin-top: 8px;
    align-items: center;
    line-height: 20px;
    background-color: #1976d2;
    width: 100%;
    height: 8rem;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }