/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Merriweather";
    src: local("Merriweather"), url(./assets/fonts/Merriweather/Merriweather-Regular.ttf) format("truetype");
}